openapi: 3.0.0
info:
  version: 1.0.0
  title: KPN SD-LAN SD-WAN Network View API
  description: >-
    The SD-LAN SD-WAN Network View API is a modern REST API based on the OpenAPI specification.
        
    The Network View API gives users read rights to retrieve information from the `Network View API` resources. 
    
    Allowed methods: `GET`
   
    ---

    ## [KPN Developer](https://developer.kpn.com/)<br/>
    [Getting Started](https://developer.kpn.com/getting-started)


      ---
      
servers:
  - url: "https://api-prd.kpn.com/kpn/meraki"
    variables: {}
externalDocs:
  description: HTTP response headers
  url: https://developer.kpn.com/documentation-response-headers

    
paths:
  "/networks/{networkId}/bluetoothClients":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Bluetooth clients
      summary: getNetworkBluetoothClients
      description: Lists the Bluetooth clients seen by APs in this networks.
      operationId: getNetworkBluetoothClients
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
          style: form
          explode: true
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day."
          style: form
          explode: true
          schema:
            type: number
            format: double
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: includeConnectivityHistory
          in: query
          description: Include the connectivity history for this client
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "id": "1284392014819",

                      "mac": "22:33:44:55:66:77",

                      "networkId": "N_24329156",

                      "name": "Miles's phone",

                      "deviceName": "Bose QuietComfort 35",

                      "manufacturer": "Bose",

                      "lastSeen": 1526087474,

                      "seenByDeviceMac": "00:11:22:33:44:55",

                      "inSightAlert": false,

                      "outOfSightAlert": false,

                      "tags": [

                        "tag1",

                        "tag2"

                      ]

                    }

                  ]
              example: |-
                [

                  {

                    "id": "1284392014819",

                    "mac": "22:33:44:55:66:77",

                    "networkId": "N_24329156",

                    "name": "Miles's phone",

                    "deviceName": "Bose QuietComfort 35",

                    "manufacturer": "Bose",

                    "lastSeen": 1526087474,

                    "seenByDeviceMac": "00:11:22:33:44:55",

                    "inSightAlert": false,

                    "outOfSightAlert": false,

                    "tags": [

                      "tag1",

                      "tag2"

                    ]

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false
  "/networks/{networkId}/bluetoothClients/{bluetoothClientId}":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Bluetooth clients
      summary: getNetworkBluetoothClient
      description: Returns a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.
      operationId: getNetworkBluetoothClient
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: bluetoothClientId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: includeConnectivityHistory
          in: query
          description: Include the connectivity history for this client
          style: form
          explode: true
          schema:
            type: boolean
        - name: connectivityHistoryTimespan
          in: query
          description: "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used."
          style: form
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "id": "1284392014819",

                    "mac": "22:33:44:55:66:77",

                    "networkId": "N_24329156",

                    "name": "Miles's phone",

                    "deviceName": "Bose QuietComfort 35",

                    "manufacturer": "Bose",

                    "lastSeen": 1526087474,

                    "seenByDeviceMac": "00:11:22:33:44:55",

                    "inSightAlert": false,

                    "outOfSightAlert": false,

                    "tags": [

                      "tag1",

                      "tag2"

                    ]

                  }
              example: |-
                {

                  "id": "1284392014819",

                  "mac": "22:33:44:55:66:77",

                  "networkId": "N_24329156",

                  "name": "Miles's phone",

                  "deviceName": "Bose QuietComfort 35",

                  "manufacturer": "Bose",

                  "lastSeen": 1526087474,

                  "seenByDeviceMac": "00:11:22:33:44:55",

                  "inSightAlert": false,

                  "outOfSightAlert": false,

                  "tags": [

                    "tag1",

                    "tag2"

                  ]

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/bluetoothSettings":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Bluetooth settings
      summary: getNetworkBluetoothSettings
      description: 'Returns the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.'
      operationId: getNetworkBluetoothSettings
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "scanningEnabled": true,

                    "advertisingEnabled": true,

                    "uuid": "00000000-0000-0000-000-000000000000",

                    "majorMinorAssignmentMode": "Non-unique",

                    "major": 1

                  }
              example: |-
                {

                  "scanningEnabled": true,

                  "advertisingEnabled": true,

                  "uuid": "00000000-0000-0000-000-000000000000",

                  "majorMinorAssignmentMode": "Non-unique",

                  "major": 1

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  ? "/networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}"
  : 
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Camera quality retention profiles
      summary: getNetworkCameraQualityRetentionProfile
      description: Retrieve a single quality retention profile.
      operationId: getNetworkCameraQualityRetentionProfile
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: qualityRetentionProfileId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }
              example: |-
                {

                  "id": "1234",

                  "networkId": "N_24329156",

                  "name": "Sample quality retention profile",

                  "restrictedBandwidthModeEnabled": true,

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "cloudArchiveEnabled": false,

                  "maxRetentionDays": 7,

                  "scheduleId": null,

                  "motionDetectorVersion": 2,

                  "videoSettings": {

                    "MV32": {

                      "quality": "Enhanced",

                      "resolution": "1080x1080"

                    },

                    "MV21/MV71": {

                      "quality": "High",

                      "resolution": "1280x720"

                    },

                    "MV12/MV22/MV72": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    },

                    "MV12WE": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    }

                  }

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/camera/qualityRetentionProfiles":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Camera quality retention profiles
      summary: getNetworkCameraQualityRetentionProfiles
      description: List the quality retention profiles for this network.
      operationId: getNetworkCameraQualityRetentionProfiles
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "id": "1234",

                      "networkId": "N_24329156",

                      "name": "Sample quality retention profile",

                      "restrictedBandwidthModeEnabled": true,

                      "motionBasedRetentionEnabled": false,

                      "audioRecordingEnabled": false,

                      "cloudArchiveEnabled": false,

                      "maxRetentionDays": 7,

                      "scheduleId": null,

                      "motionDetectorVersion": 2,

                      "videoSettings": {

                        "MV32": {

                          "quality": "Enhanced",

                          "resolution": "1080x1080"

                        },

                        "MV21/MV71": {

                          "quality": "High",

                          "resolution": "1280x720"

                        },

                        "MV12/MV22/MV72": {

                          "quality": "High",

                          "resolution": "1920x1080"

                        },

                        "MV12WE": {

                          "quality": "High",

                          "resolution": "1920x1080"

                        }

                      }

                    }

                  ]
              example: |-
                [

                  {

                    "id": "1234",

                    "networkId": "N_24329156",

                    "name": "Sample quality retention profile",

                    "restrictedBandwidthModeEnabled": true,

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "cloudArchiveEnabled": false,

                    "maxRetentionDays": 7,

                    "scheduleId": null,

                    "motionDetectorVersion": 2,

                    "videoSettings": {

                      "MV32": {

                        "quality": "Enhanced",

                        "resolution": "1080x1080"

                      },

                      "MV21/MV71": {

                        "quality": "High",

                        "resolution": "1280x720"

                      },

                      "MV12/MV22/MV72": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      },

                      "MV12WE": {

                        "quality": "High",

                        "resolution": "1920x1080"

                      }

                    }

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/devices/{serial}/camera/qualityAndRetentionSettings":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Cameras
      summary: getDeviceCameraQualityAndRetentionSettings
      description: Returns quality and retention settings for the given camera.
      operationId: getDeviceCameraQualityAndRetentionSettings
      parameters:
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "motionBasedRetentionEnabled": false,

                    "audioRecordingEnabled": false,

                    "restrictedBandwidthModeEnabled": false,

                    "profileId": null,

                    "quality": "Standard",

                    "motionDetectorVersion": 2,

                    "resolution": 720

                  }
              example: |-
                {

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "restrictedBandwidthModeEnabled": false,

                  "profileId": null,

                  "quality": "Standard",

                  "motionDetectorVersion": 2,

                  "resolution": 720

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/cameras/{serial}/videoLink":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Cameras
      summary: getNetworkCameraVideoLink
      description: "Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp."
      operationId: getNetworkCameraVideoLink
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: timestamp
          in: query
          description: "[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time."
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"

                  }
              example: |-
                {

                  "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/camera/schedules":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Cameras
      summary: getNetworkCameraSchedules
      description: Returns a list of all camera recording schedules.
      operationId: getNetworkCameraSchedules
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "id": "123",

                      "name": "Weekday schedule"

                    },

                    {

                      "id": "124",

                      "name": "Office hours"

                    }

                  ]
              example: |-
                [

                  {

                    "id": "123",

                    "name": "Weekday schedule"

                  },

                  {

                    "id": "124",

                    "name": "Office hours"

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/events":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientEvents
      description: Returns the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientEvents
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "deviceSerial": "Q234-ABCD-5678",

                      "occurredAt": 1518365681,

                      "type": "l3roaming_assoc_start",

                      "details": {

                        "vap": "1",

                        "on_packet": "true"

                      }

                    }

                  ]
              example: |-
                [

                  {

                    "deviceSerial": "Q234-ABCD-5678",

                    "occurredAt": 1518365681,

                    "type": "l3roaming_assoc_start",

                    "details": {

                      "vap": "1",

                      "on_packet": "true"

                    }

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/devices/{serial}/clients":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"  
    get:
      tags:
        - Clients
      summary: getDeviceClients
      description: "Lists the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null."
      operationId: getDeviceClients
      parameters:
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          style: form
          explode: true
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          style: form
          explode: true
          schema:
            type: number
            format: double
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "usage": {

                        "sent": 138,

                        "recv": 61

                      },

                      "id": "k74272e",

                      "description": "Miles's phone",

                      "mac": "22:33:44:55:66:77",

                      "ip": "1.2.3.4",

                      "user": "milesmeraki",

                      "vlan": 255,

                      "switchport": null,

                      "mdnsName": "Miles's phone",

                      "dhcpHostname": "MilesPhone"

                    }

                  ]
              example: |-
                [

                  {

                    "usage": {

                      "sent": 138,

                      "recv": 61

                    },

                    "id": "k74272e",

                    "description": "Miles's phone",

                    "mac": "22:33:44:55:66:77",

                    "ip": "1.2.3.4",

                    "user": "milesmeraki",

                    "vlan": 255,

                    "switchport": null,

                    "mdnsName": "Miles's phone",

                    "dhcpHostname": "MilesPhone"

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/splashAuthorizationStatus":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientSplashAuthorizationStatus
      description: "Returns the splash authorization for a client, for each SSID they've associated with through splash. Only enabled SSIDs with Click-through splash enabled will be included. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
      operationId: getNetworkClientSplashAuthorizationStatus
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "ssids": {

                      "0": {

                        "isAuthorized": true,

                        "authorizedAt": "2017-07-19 16:24:13 UTC",

                        "expiresAt": "2017-07-20 16:24:13 UTC"

                      },

                      "2": {

                        "isAuthorized": false

                      }

                    }

                  }
              example: |-
                {

                  "ssids": {

                    "0": {

                      "isAuthorized": true,

                      "authorizedAt": "2017-07-19 16:24:13 UTC",

                      "expiresAt": "2017-07-20 16:24:13 UTC"

                    },

                    "2": {

                      "isAuthorized": false

                    }

                  }

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/usageHistory":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientUsageHistory
      description: "Returns the client's daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
      operationId: getNetworkClientUsageHistory
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "sent": 500,

                      "received": 680,

                      "ts": 1518365681

                    }

                  ]
              example: |-
                [

                  {

                    "sent": 500,

                    "received": 680,

                    "ts": 1518365681

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClient
      description: Returns the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClient
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "id": "k74272e",

                    "description": "Miles's phone",

                    "mac": "22:33:44:55:66:77",

                    "ip": "1.2.3.4",

                    "user": "null",

                    "vlan": "255",

                    "switchport": null,

                    "ip6": "",

                    "firstSeen": 1518365681,

                    "lastSeen": 1526087474,

                    "manufacturer": "Apple",

                    "os": "iOS",

                    "ssid": "My SSID",

                    "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",

                    "smInstalled": true,

                    "recentDeviceMac": "00:11:22:33:44:55",

                    "clientVpnConnections": [

                      {

                        "remoteIp": "1.2.3.4",

                        "connectedAt": 1522613355,

                        "disconnectedAt": 1522613360

                      }

                    ],

                    "lldp": [

                      [

                        "System name",

                        "Some system name"

                      ],

                      [

                        "System description",

                        "Some system description"

                      ],

                      [

                        "Port ID",

                        "1"

                      ],

                      [

                        "Chassis ID",

                        "00:18:0a:00:00:00"

                      ],

                      [

                        "Port description",

                        "eth0"

                      ],

                      [

                        "System capabilities",

                        "Two-port MAC Relay"

                      ]

                    ],

                    "cdp": null,

                    "status": "Online"

                  }
              example: |-
                {

                  "id": "k74272e",

                  "description": "Miles's phone",

                  "mac": "22:33:44:55:66:77",

                  "ip": "1.2.3.4",

                  "user": "null",

                  "vlan": "255",

                  "switchport": null,

                  "ip6": "",

                  "firstSeen": 1518365681,

                  "lastSeen": 1526087474,

                  "manufacturer": "Apple",

                  "os": "iOS",

                  "ssid": "My SSID",

                  "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",

                  "smInstalled": true,

                  "recentDeviceMac": "00:11:22:33:44:55",

                  "clientVpnConnections": [

                    {

                      "remoteIp": "1.2.3.4",

                      "connectedAt": 1522613355,

                      "disconnectedAt": 1522613360

                    }

                  ],

                  "lldp": [

                    [

                      "System name",

                      "Some system name"

                    ],

                    [

                      "System description",

                      "Some system description"

                    ],

                    [

                      "Port ID",

                      "1"

                    ],

                    [

                      "Chassis ID",

                      "00:18:0a:00:00:00"

                    ],

                    [

                      "Port description",

                      "eth0"

                    ],

                    [

                      "System capabilities",

                      "Two-port MAC Relay"

                    ]

                  ],

                  "cdp": null,

                  "status": "Online"

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/policy":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientPolicy
      description: Returns the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientPolicy
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "mac": "00:11:22:33:44:55",

                    "type": "Group policy",

                    "groupPolicyId": "101"

                  }
              example: |-
                {

                  "mac": "00:11:22:33:44:55",

                  "type": "Group policy",

                  "groupPolicyId": "101"

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/trafficHistory":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientTrafficHistory
      description: "Returns the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
      operationId: getNetworkClientTrafficHistory
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 3 - 1000.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "ts": 1518365681,

                      "application": "Google",

                      "destination": "www.google.com",

                      "protocol": "UDP",

                      "port": 443,

                      "recv": 383,

                      "sent": 56,

                      "numFlows": 5,

                      "activeSeconds": 240

                    }

                  ]
              example: |-
                [

                  {

                    "ts": 1518365681,

                    "application": "Google",

                    "destination": "www.google.com",

                    "protocol": "UDP",

                    "port": 443,

                    "recv": 383,

                    "sent": 56,

                    "numFlows": 5,

                    "activeSeconds": 240

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClients
      description: Lists the clients that have used this network in the timespan.
      operationId: getNetworkClients
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          style: form
          explode: true
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          style: form
          explode: true
          schema:
            type: number
            format: double
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "usage": {

                        "sent": 138,

                        "recv": 61

                      },

                      "id": "k74272e",

                      "description": "Miles's phone",

                      "mac": "22:33:44:55:66:77",

                      "ip": "1.2.3.4",

                      "user": "milesmeraki",

                      "vlan": 255,

                      "switchport": null,

                      "ip6": "",

                      "firstSeen": 1518365681,

                      "lastSeen": 1526087474,

                      "manufacturer": "Apple",

                      "os": "iOS",

                      "recentDeviceSerial": "Q234-ABCD-5678",

                      "recentDeviceName": "My AP",

                      "recentDeviceMac": "00:11:22:33:44:55",

                      "ssid": "My SSID",

                      "status": "Online",

                      "notes": "My client note",

                      "ip6Local": "fe80:0:0:0:1430:aac1:6826:75ab",

                      "smInstalled": true,

                      "groupPolicy8021x": "Student_Access"

                    }

                  ]
              example: |-
                [

                  {

                    "usage": {

                      "sent": 138,

                      "recv": 61

                    },

                    "id": "k74272e",

                    "description": "Miles's phone",

                    "mac": "22:33:44:55:66:77",

                    "ip": "1.2.3.4",

                    "user": "milesmeraki",

                    "vlan": 255,

                    "switchport": null,

                    "ip6": "",

                    "firstSeen": 1518365681,

                    "lastSeen": 1526087474,

                    "manufacturer": "Apple",

                    "os": "iOS",

                    "recentDeviceSerial": "Q234-ABCD-5678",

                    "recentDeviceName": "My AP",

                    "recentDeviceMac": "00:11:22:33:44:55",

                    "ssid": "My SSID",

                    "status": "Online",

                    "notes": "My client note",

                    "ip6Local": "fe80:0:0:0:1430:aac1:6826:75ab",

                    "smInstalled": true,

                    "groupPolicy8021x": "Student_Access"

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/clients/{clientId}/latencyHistory":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Clients
      summary: getNetworkClientLatencyHistory
      description: "Returns the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds."
      operationId: getNetworkClientLatencyHistory
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: clientId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 791 days from today.
          style: form
          explode: true
          schema:
            type: string
        - name: t1
          in: query
          description: The end of the timespan for the data. t1 can be a maximum of 791 days after t0.
          style: form
          explode: true
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day."
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 7200
        - name: resolution
          in: query
          description: "The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400."
          style: form
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "t0": 1550534400,

                      "t1": 1550620800,

                      "latencyBinsByCategory": {

                        "backgroundTraffic": {

                          "0.5": 41750,

                          "1.0": 21552,

                          "2.0": 59940,

                          "4.0": 146622,

                          "8.0": 57354,

                          "16.0": 0,

                          "32.0": 9954,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 1896,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        },

                        "bestEffortTraffic": {

                          "0.5": 1840899,

                          "1.0": 1644506,

                          "2.0": 629958,

                          "4.0": 449564,

                          "8.0": 2009658,

                          "16.0": 1329568,

                          "32.0": 282168,

                          "64.0": 97573,

                          "128.0": 191977,

                          "256.0": 30560,

                          "512.0": 26032,

                          "1024.0": 4943,

                          "2048.0": 12072

                        },

                        "videoTraffic": {

                          "0.5": 0,

                          "1.0": 0,

                          "2.0": 0,

                          "4.0": 0,

                          "8.0": 0,

                          "16.0": 0,

                          "32.0": 0,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 0,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        },

                        "voiceTraffic": {

                          "0.5": 716,

                          "1.0": 948,

                          "2.0": 474,

                          "4.0": 78,

                          "8.0": 0,

                          "16.0": 0,

                          "32.0": 0,

                          "64.0": 0,

                          "128.0": 0,

                          "256.0": 0,

                          "512.0": 0,

                          "1024.0": 0,

                          "2048.0": 0

                        }

                      }

                    }

                  ]
              example: |-
                [

                  {

                    "t0": 1550534400,

                    "t1": 1550620800,

                    "latencyBinsByCategory": {

                      "backgroundTraffic": {

                        "0.5": 41750,

                        "1.0": 21552,

                        "2.0": 59940,

                        "4.0": 146622,

                        "8.0": 57354,

                        "16.0": 0,

                        "32.0": 9954,

                        "64.0": 0,

                        "128.0": 0,

                        "256.0": 1896,

                        "512.0": 0,

                        "1024.0": 0,

                        "2048.0": 0

                      },

                      "bestEffortTraffic": {

                        "0.5": 1840899,

                        "1.0": 1644506,

                        "2.0": 629958,

                        "4.0": 449564,

                        "8.0": 2009658,

                        "16.0": 1329568,

                        "32.0": 282168,

                        "64.0": 97573,

                        "128.0": 191977,

                        "256.0": 30560,

                        "512.0": 26032,

                        "1024.0": 4943,

                        "2048.0": 12072

                      },

                      "videoTraffic": {

                        "0.5": 0,

                        "1.0": 0,

                        "2.0": 0,

                        "4.0": 0,

                        "8.0": 0,

                        "16.0": 0,

                        "32.0": 0,

                        "64.0": 0,

                        "128.0": 0,

                        "256.0": 0,

                        "512.0": 0,

                        "1024.0": 0,

                        "2048.0": 0

                      },

                      "voiceTraffic": {

                        "0.5": 716,

                        "1.0": 948,

                        "2.0": 474,

                        "4.0": 78,

                        "8.0": 0,

                        "16.0": 0,

                        "32.0": 0,

                        "64.0": 0,

                        "128.0": 0,

                        "256.0": 0,

                        "512.0": 0,

                        "1024.0": 0,

                        "2048.0": 0

                      }

                    }

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/contentFiltering/categories":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Content filtering categories
      summary: getNetworkContentFilteringCategories
      description: Lists all available content filtering categories for an MX network.
      operationId: getNetworkContentFilteringCategories
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "categories": [

                      {

                        "id": "meraki:contentFiltering/category/1",

                        "name": "Real Estate"

                      },

                      {

                        "id": "meraki:contentFiltering/category/3",

                        "name": "Financial Services"

                      },

                      "...",

                      {

                        "id": "meraki:contentFiltering/category/11",

                        "name": "Adult and Pornography"

                      }

                    ]

                  }
              example: |-
                {

                  "categories": [

                    {

                      "id": "meraki:contentFiltering/category/1",

                      "name": "Real Estate"

                    },

                    {

                      "id": "meraki:contentFiltering/category/3",

                      "name": "Financial Services"

                    },

                    "...",

                    {

                      "id": "meraki:contentFiltering/category/11",

                      "name": "Adult and Pornography"

                    }

                  ]

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/contentFiltering":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Content filtering rules
      summary: getNetworkContentFiltering
      description: Returns the content filtering settings for an MX network.
      operationId: getNetworkContentFiltering
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "allowedUrlPatterns": [

                      "http://www.example.org",

                      "http://help.com.au"

                    ],

                    "blockedUrlPatterns": [

                      "http://www.example.com",

                      "http://www.betting.com"

                    ],

                    "blockedUrlCategories": [

                      {

                        "id": "meraki:contentFiltering/category/1",

                        "name": "Real Estate"

                      },

                      {

                        "id": "meraki:contentFiltering/category/7",

                        "name": "Shopping"

                      }

                    ],

                    "urlCategoryListSize": "topSites"

                  }
              example: |-
                {

                  "allowedUrlPatterns": [

                    "http://www.example.org",

                    "http://help.com.au"

                  ],

                  "blockedUrlPatterns": [

                    "http://www.example.com",

                    "http://www.betting.com"

                  ],

                  "blockedUrlCategories": [

                    {

                      "id": "meraki:contentFiltering/category/1",

                      "name": "Real Estate"

                    },

                    {

                      "id": "meraki:contentFiltering/category/7",

                      "name": "Shopping"

                    }

                  ],

                  "urlCategoryListSize": "topSites"

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices/{serial}/lldp_cdp":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDeviceLldp_cdp
      description: Lists LLDP and CDP information for a device.
      operationId: getNetworkDeviceLldp_cdp
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently."
          style: form
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "sourceMac": "00:11:22:33:44:55",

                    "ports": {

                      "8": {

                        "cdp": {

                          "deviceId": "e0553d8cdf53",

                          "portId": "Port 10",

                          "address": "00:11:22:33:44:55",

                          "sourcePort": "8"

                        }

                      },

                      "12": {

                        "cdp": {

                          "deviceId": "e0553d8cdf53",

                          "portId": "Port 11",

                          "address": "00:11:22:33:44:55",

                          "sourcePort": "12"

                        },

                        "lldp": {

                          "systemName": "Meraki MS350-24X - Phineas",

                          "portId": "11",

                          "managementAddress": "00:11:22:33:44:55",

                          "sourcePort": "12"

                        }

                      }

                    }

                  }
              example: |-
                {

                  "sourceMac": "00:11:22:33:44:55",

                  "ports": {

                    "8": {

                      "cdp": {

                        "deviceId": "e0553d8cdf53",

                        "portId": "Port 10",

                        "address": "00:11:22:33:44:55",

                        "sourcePort": "8"

                      }

                    },

                    "12": {

                      "cdp": {

                        "deviceId": "e0553d8cdf53",

                        "portId": "Port 11",

                        "address": "00:11:22:33:44:55",

                        "sourcePort": "12"

                      },

                      "lldp": {

                        "systemName": "Meraki MS350-24X - Phineas",

                        "portId": "11",

                        "managementAddress": "00:11:22:33:44:55",

                        "sourcePort": "12"

                      }

                    }

                  }

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDevices
      description: Lists the devices in a network.
      operationId: getNetworkDevices
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "name": "My AP",

                      "lat": 37.4180951010362,

                      "lng": -122.098531723022,

                      "serial": "Q234-ABCD-5678",

                      "mac": "00:11:22:33:44:55",

                      "model": "MR34",

                      "address": "1600 Pennsylvania Ave",

                      "notes": "My AP's note",

                      "lanIp": "1.2.3.4",

                      "tags": " recently-added ",

                      "networkId": "N_24329156",

                      "beaconIdParams": {

                        "uuid": "00000000-0000-0000-0000-000000000000",

                        "major": 5,

                        "minor": 3

                      },

                      "firmware": "wireless-25-14",

                      "floorPlanId": "g_1234567"

                    }

                  ]
              example: |-
                [

                  {

                    "name": "My AP",

                    "lat": 37.4180951010362,

                    "lng": -122.098531723022,

                    "serial": "Q234-ABCD-5678",

                    "mac": "00:11:22:33:44:55",

                    "model": "MR34",

                    "address": "1600 Pennsylvania Ave",

                    "notes": "My AP's note",

                    "lanIp": "1.2.3.4",

                    "tags": " recently-added ",

                    "networkId": "N_24329156",

                    "beaconIdParams": {

                      "uuid": "00000000-0000-0000-0000-000000000000",

                      "major": 5,

                      "minor": 3

                    },

                    "firmware": "wireless-25-14",

                    "floorPlanId": "g_1234567"

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices/{serial}":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDevice
      description: Returns a single device.
      operationId: getNetworkDevice
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "name": "My AP",

                    "lat": 37.4180951010362,

                    "lng": -122.098531723022,

                    "serial": "Q234-ABCD-5678",

                    "mac": "00:11:22:33:44:55",

                    "model": "MR34",

                    "address": "1600 Pennsylvania Ave",

                    "notes": "My AP's note",

                    "lanIp": "1.2.3.4",

                    "tags": " recently-added ",

                    "networkId": "N_24329156",

                    "beaconIdParams": {

                      "uuid": "00000000-0000-0000-0000-000000000000",

                      "major": 5,

                      "minor": 3

                    },

                    "firmware": "wireless-25-14",

                    "floorPlanId": "g_1234567"

                  }
              example: |-
                {

                  "name": "My AP",

                  "lat": 37.4180951010362,

                  "lng": -122.098531723022,

                  "serial": "Q234-ABCD-5678",

                  "mac": "00:11:22:33:44:55",

                  "model": "MR34",

                  "address": "1600 Pennsylvania Ave",

                  "notes": "My AP's note",

                  "lanIp": "1.2.3.4",

                  "tags": " recently-added ",

                  "networkId": "N_24329156",

                  "beaconIdParams": {

                    "uuid": "00000000-0000-0000-0000-000000000000",

                    "major": 5,

                    "minor": 3

                  },

                  "firmware": "wireless-25-14",

                  "floorPlanId": "g_1234567"

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices/{serial}/lossAndLatencyHistory":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDeviceLossAndLatencyHistory
      description: Retrieves the uplink loss percentage and latency in milliseconds for a wired network device.
      operationId: getNetworkDeviceLossAndLatencyHistory
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          style: form
          explode: true
          schema:
            type: string
        - name: t1
          in: query
          description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
          style: form
          explode: true
          schema:
            type: string
        - name: timespan
          in: query
          description: "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 7200
        - name: resolution
          in: query
          description: "The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60."
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: uplink
          in: query
          description: "The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1."
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/uplink"
        - name: ip
          in: query
          description: The destination IP used to obtain the requested stats. This is required.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: 1.2.3.4
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "startTime": "2018-10-09T22:18:27Z",

                      "endTime": "2018-10-09T22:19:27Z",

                      "lossPercent": 5,

                      "latencyMs": 324

                    },

                    {

                      "startTime": "2018-10-09T22:19:27Z",

                      "endTime": "2018-10-09T22:20:27Z",

                      "lossPercent": 1,

                      "latencyMs": 43

                    },

                    {

                      "startTime": "2018-10-09T22:20:27Z",

                      "endTime": "2018-10-09T22:21:27Z",

                      "lossPercent": 0,

                      "latencyMs": 44

                    }

                  ]
              example: |-
                [

                  {

                    "startTime": "2018-10-09T22:18:27Z",

                    "endTime": "2018-10-09T22:19:27Z",

                    "lossPercent": 5,

                    "latencyMs": 324

                  },

                  {

                    "startTime": "2018-10-09T22:19:27Z",

                    "endTime": "2018-10-09T22:20:27Z",

                    "lossPercent": 1,

                    "latencyMs": 43

                  },

                  {

                    "startTime": "2018-10-09T22:20:27Z",

                    "endTime": "2018-10-09T22:21:27Z",

                    "lossPercent": 0,

                    "latencyMs": 44

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/organizations/{organizationId}/devices":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getOrganizationDevices
      description: Lists the devices in an organization.
      operationId: getOrganizationDevices
      parameters:
        - name: organizationId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: configurationUpdatedAfter
          in: query
          description: "Filter results by whether or not the device's configuration has been updated after the given timestamp"
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "name": "My AP",

                      "lat": 37.4180951010362,

                      "lng": -122.098531723022,

                      "address": "1600 Pennsylvania Ave",

                      "notes": "My AP's note",

                      "tags": " recently-added ",

                      "networkId": "N_24329156",

                      "serial": "Q234-ABCD-5678",

                      "model": "MR34",

                      "mac": "00:11:22:33:44:55",

                      "lanIp": "1.2.3.4",

                      "firmware": "wireless-25-14"

                    }

                  ]
              example: |-
                [

                  {

                    "name": "My AP",

                    "lat": 37.4180951010362,

                    "lng": -122.098531723022,

                    "address": "1600 Pennsylvania Ave",

                    "notes": "My AP's note",

                    "tags": " recently-added ",

                    "networkId": "N_24329156",

                    "serial": "Q234-ABCD-5678",

                    "model": "MR34",

                    "mac": "00:11:22:33:44:55",

                    "lanIp": "1.2.3.4",

                    "firmware": "wireless-25-14"

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices/{serial}/performance":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDevicePerformance
      description: "Returns the performance score for a single device. Only primary MX devices supported. If no data is available, a 204 error code is returned."
      operationId: getNetworkDevicePerformance
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "perfScore": 10

                  }
              example: |-
                {

                  "perfScore": 10

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/devices/{serial}/uplink":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Devices
      summary: getNetworkDeviceUplink
      description: Returns the uplink information for a device.
      operationId: getNetworkDeviceUplink
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: serial
          in: path
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  [

                    {

                      "interface": "WAN 1",

                      "status": "Active",

                      "ip": "1.2.3.4",

                      "gateway": "1.2.3.5",

                      "publicIp": "123.123.123.1",

                      "dns": "8.8.8.8, 8.8.4.4",

                      "usingStaticIp": false

                    }

                  ]
              example: |-
                [

                  {

                    "interface": "WAN 1",

                    "status": "Active",

                    "ip": "1.2.3.4",

                    "gateway": "1.2.3.5",

                    "publicIp": "123.123.123.1",

                    "dns": "8.8.8.8, 8.8.4.4",

                    "usingStaticIp": false

                  }

                ]

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/events":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Events
      summary: getNetworkEvents
      description: Lists the events for the network.
      operationId: getNetworkEvents
      parameters:
        - name: networkId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: productType
          in: query
          description: "The product type to fetch events for. This parameter is required for networks with multiple device types. Valid types are wireless, appliance, switch, systemsManager, camera, and cellularGateway"
          style: form
          explode: true
          schema:
            type: string
        - name: includedEventTypes
          in: query
          description: A list of event types. The returned events will be filtered to only include events with these types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: excludedEventTypes
          in: query
          description: A list of event types. The returned events will be filtered to exclude events with these types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: deviceMac
          in: query
          description: The MAC address of the Meraki device which the list of events will be filtered with
          style: form
          explode: true
          schema:
            type: string
        - name: deviceSerial
          in: query
          description: The serial of the Meraki device which the list of events will be filtered with
          style: form
          explode: true
          schema:
            type: string
        - name: deviceName
          in: query
          description: The name of the Meraki device which the list of events will be filtered with
          style: form
          explode: true
          schema:
            type: string
        - name: clientIp
          in: query
          description: The IP of the client which the list of events will be filtered with. Only supported for track-by-IP networks.
          style: form
          explode: true
          schema:
            type: string
        - name: clientMac
          in: query
          description: The MAC address of the client which the list of events will be filtered with. Only supported for track-by-MAC networks.
          style: form
          explode: true
          schema:
            type: string
        - name: clientName
          in: query
          description: "The name, or partial name, of the client which the list of events will be filtered with"
          style: form
          explode: true
          schema:
            type: string
        - name: smDeviceMac
          in: query
          description: The MAC address of the Systems Manager device which the list of events will be filtered with
          style: form
          explode: true
          schema:
            type: string
        - name: smDeviceName
          in: query
          description: The name of the Systems Manager device which the list of events will be filtered with
          style: form
          explode: true
          schema:
            type: string
        - name: perPage
          in: query
          description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: startingAfter
          in: query
          description: "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
        - name: endingBefore
          in: query
          description: "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          headers: {}
          content:
            text/plain:
              schema:
                type: object
                description: Successful operation
                example: |-
                  {

                    "message": null,

                    "pageStartAt": "2018-02-11T00:00:00.090210Z",

                    "pageEndAt": "2018-02-11T00:00:00.090210Z",

                    "events": [

                      {

                        "occurredAt": "2018-02-11T00:00:00.090210Z",

                        "networkId": "N_24329156",

                        "type": "association",

                        "description": "802.11 association",

                        "clientId": "k74272e",

                        "clientDescription": "Miles's phone",

                        "deviceSerial": "Q234-ABCD-5678",

                        "deviceName": "My AP",

                        "ssidNumber": 1,

                        "ssidName": "My SSID",

                        "eventData": {

                          "radio": "1",

                          "vap": "1",

                          "client_mac": "22:33:44:55:66:77",

                          "client_ip": "1.2.3.4",

                          "channel": "36",

                          "rssi": "12",

                          "aid": "2104009183"

                        }

                      }

                    ]

                  }
              example: |-
                {

                  "message": null,

                  "pageStartAt": "2018-02-11T00:00:00.090210Z",

                  "pageEndAt": "2018-02-11T00:00:00.090210Z",

                  "events": [

                    {

                      "occurredAt": "2018-02-11T00:00:00.090210Z",

                      "networkId": "N_24329156",

                      "type": "association",

                      "description": "802.11 association",

                      "clientId": "k74272e",

                      "clientDescription": "Miles's phone",

                      "deviceSerial": "Q234-ABCD-5678",

                      "deviceName": "My AP",

                      "ssidNumber": 1,

                      "ssidName": "My SSID",

                      "eventData": {

                        "radio": "1",

                        "vap": "1",

                        "client_mac": "22:33:44:55:66:77",

                        "client_ip": "1.2.3.4",

                        "channel": "36",

                        "rssi": "12",

                        "aid": "2104009183"

                      }

                    }

                  ]

                }

        404:
          $ref: "#/components/responses/not_found"
        403:
          $ref: "#/components/responses/forbidden"
        401:
          $ref: "#/components/responses/unauthorized"
        400:
          $ref: "#/components/responses/bad_request"
        429:
          $ref: "#/components/responses/too_many"
        500:
          $ref: "#/components/responses/server_error"
        503:
          $ref: "#/components/responses/service_unavailable"
      deprecated: false

  "/networks/{networkId}/events/eventTypes":
    parameters:
      - name: api-version
        in: header
        schema:
          type: string
          default: ""
        description: "If not specified then the latest version is selected"
    get:
      tags:
        - Events
      summary: getNetworkEventsEventTypes
      description: Lists the event type to human-readable descriptions.
      operationId: getNetworkEventsEventTypes
[...]
